
.mobile-app-dashboard-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          height: 200px;
  background: url("https://cdn.discordapp.com/attachments/448973899300995073/451190177507835904/unknown-12.png") center no-repeat;
  background-size: contain;
}

.mobile-app-dashboard-header h1 {
  color: #fefefe;
  text-align: center;
  font-size: 35px;
  background: rgba(254, 254, 254, 0.2);
}


.read-more-content,
.read-more,
.read-more-1,
.read-more-2,
.read-more-3,
.read-more-4 {
  display: none;
  margin-top: 1rem;
}

.read-more-content.expanded .read-more,
.read-more.expanded .read-more,
.read-more-1.expanded .read-more,
.read-more-2.expanded .read-more,
.read-more-3.expanded .read-more,
.read-more-4.expanded .read-more {
  display: block;
}
